body {
background-image: url("assets/pics/trees.png");
background-repeat: repeat;
font-family: 'Arvo', serif;
}

h1 {
color: purple;
text-align: center;
}

.banner {
background-image: url("assets/pics/steps.png");
background-repeat: repeat;
border-style: groove;
border-width: 5px;
border-color:;
position: fixed;
width: 80%;
padding: 2%;
margin: 0;

}