body {
background-image: url("assets/pics/trees.png");
background-repeat: repeat;
}

h1 {
color: purple;
font-family: 'Arvo', serif;
text-align: center;
}

.banner {
background-image: url("assets/pics/steps.png");
background-repeat: repeat;
padding: 0 100%

}