body {
background-image: url("assets/pics/trees.png");
background-repeat: repeat;
}

h1 {
font-size: 68px;
color: #BA55D3;
text-align: center;
}

img {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 210%;

}

.banner {
background-image: url("assets/pics/steps.png");
background-repeat: repeat;
border-style: ridge;
border-width: 12px;
border-color: #E066FF;
margin-left: auto;
margin-right: auto;
width: 80%;
padding: 2%;

}